body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll !important;
}

.navbar-default {
    background-color: #415c77;
    border-color: #123456;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #415c77;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #123456;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #8e44ad;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #123456;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #123456;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #123456;
}
.navbar-default .navbar-toggle {
    border-color: #123456;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #123456;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #123456;
    }
}

.navbar-default .navbar-nav > li > a:hover { 
    background-color: #123456 !important; 
}

.header-row {
    background-color: #415c77; 
    color: white;
}

.login-form {
    margin: 100px auto;
    max-width: 400px;
}

.login-panel {
    background: #283a44;
    padding: 30px 26px;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.login-panel .form-control,
.login-panel button {
    font-size: 18px;
    margin: 16px 0;
}

.form-links {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 20px;
}

.login-error {
    background: #ffe5ea;
    color: #d41243;
    border-color: #d41243;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;    
}

.register-form {
    margin: 29px auto;
    max-width: 900px;
}

.register-panel {
    background: #283a44;
    padding: 15px 10px;
    min-height: 550px;
    height: 100%;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.register-panel-2 {
    background: #283a44;
    padding: 15px 10px;
    min-height: 660px;
    height: 100%;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.register-panel-3 {
    background: #283a44;
    padding: 15px 10px;
    min-height: 410px;
    height: 100%;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.register-vwo-panel {
    background: #e1846e;
    padding: 50px 20px;
    min-height: 445px;
    height: 100%;
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.register-vwo-panel-selected {
    background: #e79c8b;
    padding: 50px 20px;
    min-height: 445px;
    height: 100%;
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
}

.register-volunteer-panel {
    background: #559e83;
    padding: 50px 20px;
    min-height: 445px;
    height: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.register-volunteer-panel-selected {
    background: #76b19b;
    padding: 50px 20px;
    min-height: 445px;
    height: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
}

.register-panel .form-control,
.register-panel button {
    font-size: 18px;
    margin: 0px 0;
}

.register-form-input {
    padding-top: 14px;
}

.registration-form-links {
    text-align: center;
    margin-top: 1em;
}

.register-form-input-height {
    height: 36px;
}

.ngdialog.dialog-registration-prompt .ngdialog-content{
    width : 480px;
    height: 130px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-registration-success .ngdialog-content{
    width : 480px;
    height: 170px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-registration-error .ngdialog-content{
    width : 480px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-logout-prompt .ngdialog-content{
    width : 480px;
    height: 130px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-generic .ngdialog-content{
    width : 480px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-generic-2 .ngdialog-content{
    width : 600px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-generic-3 .ngdialog-content{
    width : 900px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-approve-request-2 .ngdialog-content{
    width : 1200px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-approve-request-3 .ngdialog-content{
    width : 1250px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-approve-request .ngdialog-content{
    width : 600px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.ngdialog.dialog-view-job .ngdialog-content {
    width : 900px;
    height: auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.index-table {
    margin-top: 1.3em;
}

.action-item {
    margin:0 0.35em;
    cursor: pointer;
}

.dialog-padding {
    padding-left: 25px;
}

.edit-profile-form-input .changepassword-form-input {
    padding-top: 14px;
}

.changepassword-form-input {
    padding-top: 14px;
}

.loader.ng-animate { 
    -webkit-animation: none 0s; 
}

.ngdialog-message {
    font-family: 'Roboto', sans-serif;
}

.create-form-input-height {
    height: 36px;
}

.error-message {
    color: #b94a48;
    //transition: all linear 0.3s;
}
.error-message.ng-inactive {
    opacity: 0;
}
.error-message.ng-hide {
    opacity: 0;
}

.error-input .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.error-input .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.error-input .input-group-addon {
    color: #b94a48;
    border-color: #b94a48;
    background-color: #f2dede;
}

.error-input .form-control-feedback {
    color: #b94a48;
}

.extraPadding {
    padding-top: 120px;
}

.cursor-disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.fa-caret-up:focus {
    transform: rotate(180deg);
    transition: 0.9s;
    pointer-events: none;
}

.rejected {
    background-color: #f5cfd9 !important;
}

.schedule-unchecked {
    background-color: #e0ebf2;
    text-align: center;
}

.schedule-checked {
    background-color: #b9e5d2;
    text-align: center;
}

.schedule-checkbox {
    height: 20px; 
    width: 20px;
}

.schedule-header {
    background-color: #6497b1; 
    color: white; 
    text-align: center;
}

.schedule-checked-accept {
    background-color: #b9e5d2;
    text-align: center;
    cursor: pointer;
}

.schedule-checked-accept-select {
    background-color: #eaf7f1;
    text-align: center;
    cursor: pointer;
}

.highlight-row {
    background-color: #fbcfc8;
}