<div class="ngdialog-message">
    <h3><b>Are you sure you want to approve this Self Collection Request?</b></h3>
    <table>
        <tr>
            <th>Requesting Organization</th>
            <td class="dialog-padding">{{currentPendingApproval.user.organizationName}}</td>
        </tr>
        <tr>
            <th>Requested Item(s)</th>
            <td class="dialog-padding">
                <div ng-repeat="demandItem in currentDemandItemList">
                    {{demandItem.quantityDemanded}} x {{demandItem.supply.itemName}}
                </div>
            </td>
        </tr>
    </table>
    <div class="ngdialog-buttons" style="padding-top: 20px;">
        <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeThisDialog()">No</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Yes</button>
    </div>
</div>