<div class="ngdialog-message">
    <h3><b>Please select a reason for cancellation</b></h3>
    <div ng-repeat="reason in config.cancelSelfCollectionReasons.supplier">
        <input type="radio" ng-model="currentSelfCollection.demand.comments" value="{{reason.value}}"/> {{reason.text}}
    </div>
    <div class="error-message" ng-show="currentSelfCollection.demand.comments === ''">Please select at 1 option.</div>
    <div class="col-sm-offset-8" style="padding-top: 20px; padding-left: 20px;">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="currentSelfCollection.demand.comments === ''" ng-class="{'cursor-disabled': currentSelfCollection.demand.comments === ''}">CONFIRM</button>
    </div>
</div>