<div class="ngdialog-message">
    <h3><b>Please select a reason for cancellation</b></h3>
    <div>
        <input type="radio" ng-model="currentDemand.comments" value="Requesting VWO, {{currentDemand.user.organizationName}}, is receive to collect the items at the specified timing"/> I am unable to receive the items at the specified timing <br/>
        <input type="radio" ng-model="currentDemand.comments" value="other"/> Other reason
        <textarea class="form-control" style="height: 100px; resize: none;" name="reason" ng-model="reason" ng-disabled="currentDemand.comments !== 'other'"></textarea>
        <div class="error-message" ng-show="currentDemand.comments === 'other'">
            <p>Reason is required.</p>
        </div>
    </div>
    <div class="error-message" ng-show="currentDemand.comments === ''">Please select at 1 option.</div>
    <div class="col-sm-offset-6" style="padding-top: 20px; padding-left: 50px;">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="confirm(reason)" ng-disabled="currentDemand.comments === '' || (currentDemand.comments === 'other' && !reason)" ng-class="{'cursor-disabled': currentSelfCollection.demand.comments === ''}">CONFIRM</button>
    </div>
</div>