<div class="ngdialog-message">
    <h3><b>Please select a reason for cancellation</b></h3>
    <div>
        <input type="radio" ng-model="currentJob.demand.comments" value="Volunteer is unable to collect the items at the specified timing"/> I am unable to collect the items at the specified timing <br/>
        <input type="radio" ng-model="currentJob.demand.comments" value="Volunteer is unable to deliver the items at the specified timing"/> I am unable to deliver the items at the specified timing <br/>        
        <input type="radio" ng-model="currentJob.demand.comments" value="Supplying VWO, {{currentJob.demand.supply.user.organizationName}}, did not show up at the specified timing"/> {{currentJob.demand.supply.user.organizationName}} did not show up at the specified timing <br/> 
        <input type="radio" ng-model="currentJob.demand.comments" value="Requesting VWO, {{currentJob.demand.user.organizationName}}, did not show up at the specified timing"/> {{currentJob.demand.user.organizationName}} did not show up at the specified timing <br/>
    </div>
    <div class="error-message" ng-show="currentJob.demand.comments === ''">Please select at 1 option.</div>
    <div class="col-sm-offset-8" style="padding-top: 20px; padding-left: 20px;">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="currentJob.demand.comments === ''" ng-class="{'cursor-disabled': currentJob.demand.comments === ''}">CONFIRM</button>
    </div>
</div>