<div class="ngdialog-message">
    <h3><b>Confirmation</b></h3>
    <div>Select your preferred weekdays for the delivery of items:</div>
    <div><i>*working hours from 9am to 5pm</i></div>
    <div style="padding-top:10px;">
        <div ng-show="currentJob.monday"><input type="checkbox" ng-model="schedule.monday" ng-click="selectDay(schedule.monday)"/> Mondays<br/></div>
        <div ng-show="currentJob.tuesday"><input type="checkbox" ng-model="schedule.tuesday" ng-click="selectDay(schedule.tuesday)"/> Tuesdays<br/></div>
        <div ng-show="currentJob.wednesday"><input type="checkbox" ng-model="schedule.wednesday" ng-click="selectDay(schedule.wednesday)"/> Wednesdays<br/></div>
        <div ng-show="currentJob.thursday"><input type="checkbox" ng-model="schedule.thursday" ng-click="selectDay(schedule.thursday)"/> Thursdays<br/></div>
        <div ng-show="currentJob.friday"><input type="checkbox" ng-model="schedule.friday" ng-click="selectDay(schedule.friday)"/> Fridays<br/></div>   
    </div>
    <div class="error-message" ng-show="dayCount < 2">At least 2 days should be selected.</div>
    <div class="col-sm-offset-7" style="padding-top: 20px;">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">CANCEL</button>
        <button type="button" class="btn btn-primary" ng-click="confirm(schedule)" ng-disabled="dayCount < 2" ng-class="{'cursor-disabled': dayCount < 2}">CONFIRM</button>
    </div>
</div>