<div class="ngdialog-message">
    <h3><b>Are you sure you want to suspend this user?</b></h3>
    <table>
        <tr>
            <th>Username</th>
            <td class="dialog-padding">{{currentUser.username}}</td>
        </tr>
        <tr>
            <th>Organization Name</th>
            <td class="dialog-padding">{{currentUser.organizationName}}</td>
        </tr>
        <tr>
            <th>Demerit Points</th>
            <td class="dialog-padding">{{currentUser.demeritPoints}}</td>
        </tr>        
        <tr>
            <th>Role</th>
            <td class="dialog-padding">{{currentUser.role}}</td>
        </tr>
    </table>
    <div class="ngdialog-buttons" style="padding-top: 20px;">
        <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeThisDialog()">No</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Yes</button>
    </div>
</div>