<div class="ngdialog-message">
    <h3><b>Job Details</b></h3>
    <table>
        <tr>
            <th>Supplying Organization</th>
            <td class="dialog-padding">{{currentJob.demand.supplier.organizationName}}</td>
            <th style="padding-left: 100px;">Receiving Organization</th>
            <td class="dialog-padding">{{currentJob.demand.user.organizationName}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td class="dialog-padding">{{currentJob.demand.supplier.address}}, S({{currentJob.demand.supplier.postalCode}})</td>
            <th style="padding-left: 100px;">Address</th>
            <td class="dialog-padding">{{currentJob.demand.user.address}}, S({{currentJob.demand.user.postalCode}})</td>
        </tr>
        <tr>
            <th style="vertical-align: top; padding-top: 20px;">Requested Item(s)</th>
            <td class="dialog-padding" style="padding-top: 20px;">
                <div ng-repeat="demandItem in currentDemandItemList">
                    {{demandItem.quantityDemanded}} x {{demandItem.supply.itemName}}
                </div>
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px;">Delivery Date</th>
            <td class="dialog-padding" style="padding-top: 20px;">{{currentJob.deliveryDate}}</td>
        </tr>
        <tr>
            <th>Timeslot</th>
            <td class="dialog-padding">{{currentJob.timeslot}}</td>
        </tr>
        <tr>
            <th>Job Expiry Date</th>
            <td class="dialog-padding">{{currentJob.expiryDate}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td class="dialog-padding">{{currentJob.status}}</td>
        </tr>
    </table>
    <div class="ngdialog-buttons" style="padding-top: 20px;">
        <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeThisDialog()">Close</button>
    </div>
</div>