<div class="page-header">
    <h1 style="color: #003366;">Accept Job</h1>
</div>
<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
    <div ng-show="showJob">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-9" style="padding-top: 5px;"> 
                    <h4><b>Supplying Organization</b></h4>
                    <p>{{job.demand.supplier.organizationName}}</p>               
                </div> 
                <div class="col-sm-9" style="padding-top: 5px;"> 
                    <h4><b>Address</b></h4>
                    <p>{{job.demand.supplier.address}}, S({{job.demand.supplier.postalCode}})</p>               
                </div>
                <div class="col-sm-9" style="padding-top: 10px;"> 
                    <h4><b>Item(s)</b></h4>
                    <p ng-repeat="demandItem in demandItemList">{{demandItem.quantityDemanded}} x {{demandItem.supply.itemName}}</p>               
                </div> 
                <div class="col-sm-9" style="padding-top: 10px;"> 
                    <h4><b>Delivery Date</b></h4>
                    <p>{{job.deliveryDate}}</p>               
                </div> 
                <div class="col-sm-9" style="padding-top: 10px;"> 
                    <h4><b>Timeslot</b></h4>
                    <p>{{job.timeslot}}</p>               
                </div> 
                <div class="col-sm-9" style="padding-top: 10px;"> 
                    <h4><b>Job Expiry Date</b></h4>
                    <p>{{job.expiryDate}}</p>               
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="col-sm-9" style="padding-top: 10px;"> 
                    <h4><b>Receiving Organization</b></h4>
                    <p>{{job.demand.user.organizationName}}</p>               
                </div> 
                <div class="col-sm-9" style="padding-top: 5px;"> 
                    <h4><b>Address</b></h4>
                    <p>{{job.demand.user.address}}, S({{job.demand.user.postalCode}})</p>               
                </div>
            </div>
        </div><hr>
        <div class="row">            
            <div class="col-sm-12">
                <form name="acceptForm" novalidate>
                    <div class="col-sm-9" style="padding-top: 10px;"> 
                        <h4><b>Time I can collect items at {{job.demand.supplier.organizationName}}</b></h4>
                        <timepicker ng-model="collectionTime" name="collectionTime" hour-step="1" minute-step="1" show-meridian="true"></timepicker>              
                        <div class="error-message" ng-show="collectionTime < minTime || collectionTime > maxTime">
                            <div style="margin-top: 5px;">Please enter a time within {{job.timeslot}}.</div>
                        </div>
                        <div class="error-message" ng-show="collectionTime >= deliveryTime">
                            <div style="margin-top: 5px;">Please enter a time earlier then the Delivery Time.</div>
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding-top: 10px;"> 
                        <h4><b>Time I can deliver items to {{job.demand.user.organizationName}}</b></h4>
                        <timepicker ng-model="deliveryTime" hour-step="1" minute-step="1" show-meridian="true"></timepicker>   
                        <div class="error-message" ng-show="deliveryTime < minTime || deliveryTime > maxTime">
                            <div style="margin-top: 5px;">Please enter a time within {{job.timeslot}}.</div>
                        </div>
                        <div class="error-message" ng-show="collectionTime >= deliveryTime">
                            <div style="margin-top: 5px;">Please enter a time later then the Collection Time.</div>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
        <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="col-sm-offset-10" style="padding-left: 62px;">
                <button ng-click="submit()" class="btn btn-primary" ng-disabled="collectionTime < minTime || collectionTime > maxTime || deliveryTime < minTime || deliveryTime > maxTime || collectionTime >= deliveryTime">Submit</button>
                <button ui-sref="Jobs.View" class="btn btn-default">Back</button>
            </div>
        </div>
    </div>
</div>    