<div class="container">
    <div class="page-header">
        <h1 style="color: #003366;">Change Password</h1>
    </div>
    <div class="row">
        <form name="changePasswordForm" novalidate>
            <div class="col-sm-6">
                <div class="col-sm-9" style="padding-top: 25px;" ng-class="{'error-input': changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid}">
                    <h4><b>Current Password</b></h4>
                    <input ng-model="oldPassword" class="form-control" type="password" name="oldPassword" required/>
                    <div class="error-message" ng-messages="changePasswordForm.oldPassword.$error" ng-show="changePasswordForm.oldPassword.$touched">
                        <div style="margin-top: 5px;" ng-message="required">{{config.errors.required}}</div>
                    </div>
                </div>
                <div class="changepassword-form-input col-sm-9" ng-class="{'error-input': changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid}">
                    <h4><b>New Password</b></h4>
                    <input ng-model="newPassword" class="form-control" type="password" name="newPassword" required password-match-2/>
                    <div class="error-message" ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.newPassword.$touched">
                        <div style="margin-top: 5px;" ng-message="required">{{config.errors.required}}</div>
                        <div style="margin-top: 5px;" ng-message="passwordMatch2">{{config.errors.passwordMatch}}</div>
                    </div>
                </div>
                <div class="changepassword-form-input col-sm-9" ng-class="{'error-input': changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$invalid}">
                    <h4><b>Confirm Password</b></h4>
                    <input ng-model="confirmNewPassword" class="form-control" type="password" name="confirmNewPassword" required password-match/>
                    <div class="error-message" ng-messages="changePasswordForm.confirmNewPassword.$error" ng-show="changePasswordForm.confirmNewPassword.$touched">
                        <div style="margin-top: 5px;" ng-message="required">{{config.errors.required}}</div>
                        <div style="margin-top: 5px;" ng-message="passwordMatch">{{config.errors.passwordMatch}}</div>
                    </div>
                </div>        
            </div>
        </form>
    </div>
    <div class="row" style="padding-top: 50px;">
        <div class="col-sm-offset-10 col-sm-2">
            <button ng-click="update()" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid">Update</button>
            <button ui-sref="Home" class="btn btn-default">Home</button>
        </div>
    </div>
</div>
