<div class="container">
    <div class="row">
        <form name="supplyForm" novalidate>
            <div class="col-sm-5">
                <!--                <div class="col-sm-9" style="padding-top: 25px;" ng-class="{'error-input': supplyForm.itemName.$touched && supplyForm.itemName.$invalid}"> 
                                    <h4><b>Item Name</b></h4>
                                    <input ng-model="supply.itemName" class="form-control" name="itemName" type="text" required/>
                                    <div class="error-message" ng-messages="supplyForm.itemName.$error" ng-show="supplyForm.itemName.$touched">
                                        <p ng-message="required">Item name is required.</p>
                                    </div>
                                </div>-->
                <div class="col-sm-9" style="padding-top: 25px;"> 
                    <h4><b>Item Name</b></h4>
                    <input ng-model="supply.itemName" class="form-control" name="itemName" type="text"/>                    
                </div>
                <div class="col-sm-9" style="padding-top: 20px;"> 
                    <h4><b>Category</b></h4>
                    <select ng-model="supply.category" class="form-control create-form-input-height">
                        <option value="Food">Food</option>
                        <option value="Drinks">Drinks</option>
                        <option value="Condiments">Condiments</option>
                        <option value="Toiletries">Toiletries</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                    </select>
                </div>
                <div class="col-sm-9" style="padding-top: 20px;"> 
                    <h4><b>Quantity Supplied</b></h4>
                    <input ng-model="supply.quantitySupplied" class="form-control" type="text"/>                    
                </div>
            </div>
            <div class="col-sm-5">
                <div class="col-sm-9" style="padding-top: 25px;"> 
                    <h4><b>Minimum Request Quantity</b></h4>
                    <input ng-model="supply.minimum" class="form-control" type="text"/>                    
                </div>
                <div class="col-sm-9" style="padding-top: 20px;"> 
                    <h4><b>Maximum Request Quantity</b></h4>
                    <input ng-model="supply.maximum" class="form-control" type="text"/>                    
                </div>
                <div class="col-md-9" style="padding-top: 20px;">
                    <h4><b>Expiry Date</b></h4>
                    <input type="date" class="form-control" ng-model="expiryDate"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-sm-offset-10 col-sm-2">
            <button ng-click="create()" class="btn btn-primary">Create</button>
            <button ui-sref="Inventory.Supply" class="btn btn-default">Back</button>
        </div>
    </div>
</div>