<div class="container">
    <div class="page-header">
        <h1 style="color: #003366;">Edit Profile</h1>
    </div>
    <div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <div ng-show="showUser" >
            <div class="row">
                <div class="col-sm-5">         
                    <div class="col-sm-9">
                        <h4><b>Username</b></h4>
                        <input ng-model="user.username" class="form-control" type="text"/>
                    </div>
                    <div class="edit-profile-form-input col-sm-9">
                        <h4><b>Organization Name</b></h4>
                        <input ng-model="user.organizationName" class="form-control" type="text"/>
                    </div>
                    <div class="edit-profile-form-input col-sm-9">
                        <h4><b>Email</b></h4>
                        <input ng-model="user.email" class="form-control" type="text"/>
                    </div>
                    <div class="edit-profile-form-input col-sm-9">
                        <h4><b>Address</b></h4>
                        <input ng-model="user.address" class="form-control" type="text"/>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-9">
                        <h4><b>Postal Code</b></h4>
                        <input ng-model="user.postalCode" class="form-control" type="text"/>
                    </div>
                    <div class="edit-profile-form-input col-sm-9">
                        <h4><b>Point of Contact Name</b></h4>
                        <input ng-model="user.pocName" class="form-control" type="text"/>
                    </div>
                    <div class="edit-profile-form-input col-sm-9">
                        <h4><b>Point of Contact Number</b></h4>
                        <input ng-model="user.pocNumber" class="form-control" type="text"/>
                    </div>
                    <div class="edit-profile-form-input col-sm-9">
                        <h4><b>License Number</b></h4>
                        <input ng-model="user.licenseNumber" class="form-control" type="text"/>
                    </div>
                </div>    
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-sm-offset-10 col-sm-2">
                    <button ng-click="update()" class="btn btn-primary">Update</button>
                    <button ui-sref="Profile.View" class="btn btn-default">Back</button>
                </div>
            </div>
        </div>  
    </div>
</div>
