<div class="container">
    <div ng-class="{extraPadding: !showSupply}" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <div ng-show="showSupply">
            <div class="row">
                <form name="supplyForm" novalidate>
                    <div class="col-sm-5">
                        <div class="col-sm-9" style="padding-top: 25px;"> 
                            <h4><b>Stock Keeping Unit (SKU)</b></h4>
                            <input ng-model="supply.sku" class="form-control" name="sku" type="text"/>
                        </div>
                        <div class="col-sm-9" style="padding-top: 25px;" ng-class="{'error-input': supplyForm.itemName.$touched && supplyForm.itemName.$invalid}"> 
                            <h4><b>Item Name</b></h4>
                            <input ng-model="supply.itemName" class="form-control" name="itemName" type="text" required/>
                            <div class="error-message" ng-messages="supplyForm.itemName.$error" ng-show="supplyForm.itemName.$touched">
                                <div style="margin-top: 5px;" ng-message="required">This field is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px;"> 
                            <h4><b>Category</b></h4>
                            <select ng-model="supply.category" class="form-control create-form-input-height">
                                <option value="Food">Food</option>
                                <option value="Drinks">Drinks</option>
                                <option value="Condiments">Condiments</option>
                                <option value="Toiletries">Toiletries</option>
                                <option value="Miscellaneous">Miscellaneous</option>
                            </select>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px;" ng-class="{'error-input': supplyForm.unit.$touched && supplyForm.unit.$invalid}"> 
                            <h4><b>Unit of Measurement</b></h4>
                            <input ng-model="supply.unit" class="form-control" name="unit" type="text" required/>
                            <div class="error-message" ng-messages="supplyForm.unit.$error" ng-show="supplyForm.unit.$touched">
                                <div style="margin-top: 5px;" ng-message="required">This field is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px;" ng-class="{'error-input': supplyForm.quantitySupplied.$touched && supplyForm.quantitySupplied.$invalid}"> 
                            <h4><b>Quantity Supplied</b></h4>
                            <input ng-model="supply.quantitySupplied" class="form-control" name="quantitySupplied" type="number" min="1" required ecustom-number ecustom-quantity-supplied-2 ecustom-quantity-supplied ecustom-quantity-supplied-3/>                    
                            <div class="error-message" ng-messages="supplyForm.quantitySupplied.$error" ng-show="supplyForm.quantitySupplied.$touched">
                                <div style="margin-top: 5px;" ng-message="required">This field is required.</div>
                                <div style="margin-top: 5px;" ng-message="number">Please enter a whole number only.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomNumber">Please enter a whole number only.</div>
                                <div style="margin-top: 5px;" ng-message="min">Please enter a number greater than 0.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomQuantitySupplied2">This quantity must be either equals to {{supply.maximum}} or more than equals to {{supply.maximum * 2}}.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomQuantitySupplied">This quantity must be either equals to {{supply.minimum}} or more than equals to {{supply.minimum * 2}}.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomQuantitySupplied3">This quantity must be more than equals to {{supply.minimum + supply.maximum}}.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="col-sm-9" style="padding-top: 25px;" ng-class="{'error-input': supplyForm.minimum.$touched && supplyForm.minimum.$invalid}"> 
                            <h4><b>Minimum Request Quantity</b></h4>
                            <input ng-model="supply.minimum" class="form-control" name="minimum" type="number" min="1" required ecustom-number ecustom-min ecustom-min-2/>                    
                            <div class="error-message" ng-messages="supplyForm.minimum.$error" ng-show="supplyForm.minimum.$touched">
                                <div style="margin-top: 5px;" ng-message="required">This field is required.</div>
                                <div style="margin-top: 5px;" ng-message="number">Please enter a whole number only.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomNumber">Please enter a whole number only.</div>
                                <div style="margin-top: 5px;" ng-message="min">Please enter a number greater than 0.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomMin">Please enter a number less than equals to {{supply.maximum}}.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomMin2">This quantity must be either equals to {{supply.quantitySupplied}} or less than equals to {{supply.quantitySupplied / 2| number:0}}.</div>
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 20px;" ng-class="{'error-input': supplyForm.maximum.$touched && supplyForm.maximum.$invalid}"> 
                            <h4><b>Maximum Request Quantity</b></h4>
                            <input ng-model="supply.maximum" class="form-control" name="maximum" type="number" min="1" ecustom-number ecustom-max ecustom-max-2/>                    
                            <div class="error-message" ng-messages="supplyForm.maximum.$error" ng-show="supplyForm.maximum.$touched">
                                <div style="margin-top: 5px;" ng-message="required">This field is required.</div>
                                <div style="margin-top: 5px;" ng-message="number">Please enter a whole number only.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomNumber">Please enter a whole number only.</div>
                                <div style="margin-top: 5px;" ng-message="min">Please enter a number greater than 0.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomMax">Please enter a number more than or equals to {{supply.minimum}}.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomMax2">This quantity must be either equals to {{supply.quantitySupplied}} or less than equals to {{supply.quantitySupplied - supply.minimum}}.</div>
                            </div>
                        </div>                      
                        <div class="col-sm-9" style="padding-top: 20px;" ng-class="{'error-input': supplyForm.monetaryValue.$touched && supplyForm.monetaryValue.$invalid}"> 
                            <h4><b>Monetary Value ($ per unit)</b></h4>
                            <input ng-model="supply.monetaryValue" class="form-control" name="monetaryValue" type="number" required/>
                            <div class="error-message" ng-messages="supplyForm.monetaryValue.$error" ng-show="supplyForm.monetaryValue.$touched">
                                <div style="margin-top: 5px;" ng-message="required">This field is required.</div>                        
                                <div style="margin-top: 5px;" ng-message="number">Please enter a number only.</div>
                            </div>
                        </div>
                        <div class="col-md-9" style="padding-top: 20px;" ng-class="{'error-input': supplyForm.expiryDate.$touched && supplyForm.expiryDate.$invalid}">
                            <h4><b>Expiry Date (dd/mm/yyyy)</b></h4>
                            <p class="input-group">
                                <input type="text" class="form-control" ng-click="open($event)" readonly style="background-color: white; cursor: default;" datepicker-popup="{{format}}" ng-model="expiryDate" name="expiryDate" ng-disabled="expiryDateNA" min-date="minDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" ecustom-date ecustom-date-2/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="expiryDateNA"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                            <div class="error-message" ng-messages="supplyForm.expiryDate.$error" ng-show="supplyForm.expiryDate.$touched">
                                <div style="margin-top: 5px;" ng-message="ecustomDate">This field is required.</div>
                                <div style="margin-top: 5px;" ng-message="edate">Please enter a valid date in 'dd/mm/yyyy' format.</div>
                                <div style="margin-top: 5px;" ng-message="ecustomDate2">Please choose a date after today.</div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <input type="checkbox" ng-click="toggleExpiryValidity()" ng-model="expiryDateNA"/> <i>*Tick if item does not have an expiry date</i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" style="padding-top: 30px; padding-bottom: 20px;">
                <div class="col-sm-offset-10 col-sm-2">
                    <button ng-click="update()" class="btn btn-primary" ng-disabled="supplyForm.$invalid">Update</button>
                    <button ui-sref="Inventory.Supply" class="btn btn-default">Back</button>
                </div>
            </div>
        </div>
    </div>    
</div>