<div ng-show="$parent.isLoggedIn" class="container">
    <!--    <div class="jumbotron" style="height: 84vh; background-color: #708599; color: white;">
            <h1>Welcome, {{displayName}}!</h1>
            <p ng-show="role === 'Volunteer'">As a volunteer, use the <a ui-sref="Jobs.View" style="color: lightblue;">View Jobs</a> tab to see all available jobs and use the <a ui-sref="MyJobs" style="color: lightblue;">My Jobs</a> tab to see all your accepted jobs.</p>
            <p ng-show="role === 'VWO'">As a VWO, use the <a ui-sref="Marketplace.All" style="color: lightblue;">Marketplace</a> tab to request for items and the <a ui-sref="Inventory.Supply" style="color: lightblue;">My Inventory</a> tab to manage your Supply & Demand.</p>
            <p ng-show="role === 'VWO'">Use the <a ui-sref="PendingApprovals" style="color: lightblue;">Pending Approvals</a> tab to approve incoming requests and the <a ui-sref="PendingRegistrations" style="color: lightblue;">Pending Registrations</a> tab to approve volunteer registrations.</p>        
        </div>    -->
    <div class="row" ng-show="role==='VWO'">
        <div class="col-sm-4" cg-busy="{promise:promiseDemand,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel panel-default">
                <div class="panel-heading">Requests Status Breakdown</div>
                <div class="panel-body" ng-show="hideDemandChart" style="height:186px;">
                    <h2 style="text-align: center; vertical-align: middle; padding-top:30px;">No requests yet</h2>
                </div>
                <div class="panel-body" ng-if="!hideDemandChart" style="height:186px;">
                    <canvas id="pie" class="chart chart-pie" chart-data="demandData" chart-labels="demandLabels" chart-colours="demandColours">
                    </canvas>                 
                </div>            
            </div>
        </div>
        <div class="col-sm-4" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel panel-default">
                <div class="panel-heading">Jobs Status Breakdown</div>
                <div class="panel-body" ng-show="hideJobChart" style="height:186px;">
                    <h2 style="text-align: center; vertical-align: middle; padding-top:30px;">No jobs yet</h2>
                </div>
                <div class="panel-body" ng-if="!hideJobChart" style="height:186px;">
                    <canvas id="pie" class="chart chart-pie" chart-data="jobData" chart-labels="jobLabels" chart-colours="jobColours">
                    </canvas>                 
                </div>            
            </div>
        </div>
        <div class="col-sm-4" cg-busy="{promise:promiseSelfCollection,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel panel-default">
                <div class="panel-heading">Self Collection Status Breakdown</div>
                <div class="panel-body" ng-show="hideselfCollectionChart" style="height:186px;">
                    <h2 style="text-align: center; vertical-align: middle; padding-top:30px;">No self collections yet</h2>
                </div>
                <div class="panel-body" ng-if="!hideselfCollectionChart" style="height:186px;">
                    <canvas id="pie" class="chart chart-pie" chart-data="selfCollectionData" chart-labels="selfCollectionLabels" chart-colours="selfCollectionColours">
                    </canvas>                 
                </div>            
            </div>
        </div>
    </div>
    <div class="row" ng-show="role==='VWO'">
        <div class="col-sm-4" cg-busy="{promise:promiseSupply,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel panel-default">
                <div class="panel-heading">Number of supplies created</div>
                <div class="panel-body" style="height:186px;">
                    <h1 style="text-align: center; vertical-align: middle; padding-top:7px; font-size: 80px;">{{supplyCount}}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4" cg-busy="{promise:promiseSupply,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel panel-default">
                <div class="panel-heading">Total monetary value of supplies</div>
                <div class="panel-body" style="height:186px;">
                    <h1 ng-show="showSupply" style="text-align: center; vertical-align: middle; padding-top:20px; font-size: 60px;">${{supplyMonetaryValue}}</h1>
                </div>
            </div>
        </div>
<!--        <div class="col-sm-4" cg-busy="{promise:promiseMonetaryValue,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="panel panel-default">
                <div class="panel-heading">Total monetary value given</div>
                <div class="panel-body" style="height:186px;">
                    <h1 ng-show="showMonetaryValue" style="text-align: center; vertical-align: middle; padding-top:20px; font-size: 60px;">${{totalMonetaryValueGiven}}</h1>
                </div>
            </div>
        </div>-->
    </div>
</div>
