<div class="row" style="padding-top: 20px;">
    <div class="col-sm-3 pull-left">
        <div class="input-group">
            <input type="text" ng-model="searchFilter" class="form-control" placeholder="Search..."/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>    
    <div class="col-sm-2 pull-right">
        <button ui-sref="Inventory.CreateSupply" class="btn btn-primary"><i class="fa fa-plus" style="padding-right: 5px;"></i> Create New Supply</button>
    </div>
</div>
<div class="index-table" search-filter="searchFilter">
    <table class="table table-bordered table-hover" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <thead>
            <tr class="info">
                <th class="text-center" width="30%">Item Name</th>
                <th class="text-center" width="10%">Category</th>
                <th class="text-center" width="15%">Quantity Supplied</th>
                <th class="text-center" width="15%">Quantity Remaining</th>
                <th class="text-center" width="15%">Expiry Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="supply in supplyList | filter: proccessedSearchFilter | itemsPerPage:pageSize" current-page="currentPage">
                <td ng-repeat="column in tableColumns" style="text-align:center">
                    <div style="margin-top: 0.33em;">{{getObj(supply, column)}}</div>
                </td>
                <td class="text-center">
                    <div style="margin-top:0.33em;">
                        <span class="action-item fa fa-eye fa-lg" ng-click="view(supply)" tooltip-placement="top" tooltip="View"></span>
                        <span class="action-item fa fa-edit fa-lg" ng-click="edit(supply.id)" tooltip-placement="top" tooltip="Edit"></span>
                        <span class="action-item fa fa-trash fa-lg" ng-click="delete(supply, $index)" tooltip-placement="top" tooltip="Delete"></span>
                    </div>
                </td>
            </tr>
            <tr ng-if="!(supplyList | filter:proccessedSearchFilter).length">
                <td colspan="{{tableColumns.length + 1}}" class="text-center">
                    <h5>No results found</h5>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <div style="text-align:center">
        <dir-pagination-controls template-url="Wheels4Food/webjars/angular-utils-pagination/0.7.0/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>