<div class="row" style="padding-top: 20px;">
    <div class="col-sm-3 pull-left">
        <div class="input-group">
            <input type="text" ng-model="searchFilter" class="form-control" placeholder="Search..."/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>     
</div>
<div class="index-table" search-filter="searchFilter">
    <table class="table table-bordered table-hover" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
        <thead>
            <tr class="header-row">
                <th class="text-center" width="30%" style="cursor: pointer" ng-click="sort('itemName')">
                    Item Name
                    <span ng-show="sortType == 'itemName' && sortReverse" class="fa fa-lg fa-caret-down"></span>
                    <span ng-show="sortType == 'itemName' && !sortReverse" class="fa fa-lg fa-caret-up"></span>
                </th>
                <th class="text-center" width="10%" style="cursor: pointer" ng-click="sort('category')">
                    Category
                    <span ng-show="sortType == 'category' && sortReverse" class="fa fa-lg fa-caret-down"></span>
                    <span ng-show="sortType == 'category' && !sortReverse" class="fa fa-lg fa-caret-up"></span>
                </th>
                <th class="text-center" width="15%" style="cursor: pointer" ng-click="sort('quantityDemanded')">
                    Quantity Demanded
                    <span ng-show="sortType == 'quantityDemanded' && sortReverse" class="fa fa-lg fa-caret-down"></span>
                    <span ng-show="sortType == 'quantityDemanded' && !sortReverse" class="fa fa-lg fa-caret-up"></span>
                </th>
                <th class="text-center" width="13%" style="cursor: pointer" ng-click="sort('expiryDate')">
                    Expiry Date
                    <span ng-show="sortType == 'expiryDate' && sortReverse" class="fa fa-lg fa-caret-down"></span>
                    <span ng-show="sortType == 'expiryDate' && !sortReverse" class="fa fa-lg fa-caret-up"></span>
                </th>
                <th class="text-center" width="17%" style="cursor: pointer" ng-click="sort('status')">
                    Status
                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-lg fa-caret-down"></span>
                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-lg fa-caret-up"></span>
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="demand in demandList | filter: proccessedSearchFilter | orderBy:sortBy:sortReverse | itemsPerPage:pageSize" current-page="currentPage">
                <td ng-repeat="column in tableColumns" style="text-align:center">
                    <div style="margin-top: 0.33em;"><i ng-show="column === 'quantityDemanded' && demand.status === 'Approved' && demand.comments" class="fa fa-exclamation-triangle" style="color: sandybrown" tooltip-placement="top" tooltip="Quantity Reduced - {{demand.comments}}"></i> {{getObj(demand, column)}}</div>
                </td>
                <td class="text-center">
                    <div ng-show="demand.status === 'Pending'"><button class="btn btn-default" style="cursor: default;" tooltip-placement="top" tooltip="Request submitted - Awaiting supplier's approval">Pending</button></div>
                    <div ng-show="demand.status === 'Rejected'"><button class="btn btn-danger" style="cursor: default;" tooltip-placement="top" tooltip="Request rejected - {{demand.comments}}">Rejected</button></div>
                    <div ng-show="demand.status === 'Job Created'"><button class="btn btn-primary" ng-click="viewJob(demand)" tooltip-placement="top" tooltip="Job Created - Click to view job details.">Job Created</button></div>                    
                    <div ng-show="demand.status === 'Self Collection Created'"><button class="btn btn-primary" ng-click="viewSelfCollection(demand)" tooltip-placement="top" tooltip="Self Collection Created - Click to view more details.">Self Collection Created</button></div>
                    <div ng-show="demand.status === 'Job Accepted'"><button class="btn btn-success" ng-click="viewAcceptedJob(demand)" tooltip-placement="top" tooltip="Job Accepted - Click to view job details.">Job Accepted</button></div>
                    <div ng-show="demand.status === 'Job Completed'"><button class="btn btn-default" style="cursor: default;">Job Completed</button></div>                    
                    <div ng-show="demand.status === 'Job Cancelled'"><button class="btn btn-danger" style="cursor: default;" tooltip-placement="top" tooltip="Job cancelled - {{demand.comments}}">Job Cancelled</button></div>                    
                    <div ng-show="demand.status === 'Self Collection Cancelled'"><button class="btn btn-danger" style="cursor: default;" tooltip-placement="top" tooltip="Self Collection cancelled - {{demand.comments}}">Self Collection Cancelled</button></div>
                    <div ng-show="demand.status === 'Self Collection Completed'"><button class="btn btn-default" style="cursor: default;">Self Collection Completed</button></div> 
                </td>
                <td class="text-center">
                    <div style="margin-top:0.33em;">
                        <span ng-show="demand.status === 'Pending'" class="action-item fa fa-eye fa-lg" ng-click="view(demand)" tooltip-placement="top" tooltip="View"></span>
                        <span ng-show="demand.status === 'Job Accepted' || demand.status === 'Self Collection Created'" class="action-item fa fa-check fa-lg" ng-click="complete(demand)" tooltip-placement="top" tooltip="Complete"></span>
                        <span ng-hide="demand.status === 'Job Completed' || demand.status === 'Job Cancelled' || demand.status === 'Self Collection Completed' || demand.status === 'Self Collection Cancelled' || demand.status === 'Rejected'" class="action-item fa fa-times fa-lg" ng-click="cancel(demand)" tooltip-placement="top" tooltip="Cancel"></span>
                    </div>
                </td>
            </tr>
            <tr ng-if="!(demandList | filter:proccessedSearchFilter).length">
                <td colspan="{{tableColumns.length + 2}}" class="text-center">
                    <h5>No results found</h5>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <div style="text-align:center" ng-show="demandList.length > pageSize">
        <dir-pagination-controls template-url="Wheels4Food/webjars/angular-utils-pagination/0.7.0/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>