<div class="container">
    <div class="login-form">
        <form method="post" class="login-panel" name="loginForm">
            <div style="font-size:40px; font-weight: bolder;">Wheels4Food</div>

            <input type="text" ng-model="username" placeholder="Username" class="form-control input-lg" required/>
            <input type="password" ng-model="password" placeholder="Password" class="form-control input-lg" required/>

            <button ng-click="login()" class="btn btn-lg btn-block btn-primary" ng-disabled="loginForm.$invalid">{{signInText}} <i ng-show="isLogging" class="loader fa fa-lg fa-spinner fa-pulse" style="margin-left: 5px;"></i></button>
            <div ng-show="loginFailed" class="login-error">
                {{error}}
            </div>
        </form>
        <div class="form-links">
            <a ui-sref="Register">Register here</a> or <a ui-sref="ResetPassword">reset password</a>
        </div>        
    </div>
</div>