<div class="container">
    <div class="login-form">
        <form method="post" class="login-panel" name="loginForm">
            <div style="font-size:40px; font-weight: bolder;">Wheels4Food</div>
            <label style="margin-top: 15px;"><b>Username</b></label>
            <input type="text" ng-model="username" class="form-control input-lg" style="margin: 0px;" required/>
            
            <label style="margin-top: 15px;"><b>Password</b></label>
            <input type="password" ng-model="password" class="form-control input-lg" style="margin: 0px;" required/>

            <button ng-click="login()" class="btn btn-lg btn-block btn-primary" ng-class="{'cursor-disabled': loginForm.$invalid}" ng-disabled="loginForm.$invalid">{{signInText}} <i ng-show="isLogging" class="loader fa fa-lg fa-spinner fa-pulse" style="margin-left: 5px;"></i></button>
            <div ng-show="loginFailed" class="login-error">
                {{error}}
            </div>
        </form>
        <div class="form-links">
            <a ui-sref="Register"><button class="btn btn-success">Register Now</button></a><a ui-sref="ResetPassword" style="padding-left: 10px;"><button class="btn btn-danger">Reset Password</button></a>
        </div>
    </div>
</div>