<div class="container">
    <div class="page-header">
        <h1 style="color: #003366;">Pending Approvals</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 pull-left">
            <div class="input-group">
                <input type="text" ng-model="searchFilter" class="form-control" placeholder="Search..."/>
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>    
    </div>
    <div class="index-table" search-filter="searchFilter">
        <table class="table table-bordered table-hover" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <thead>
                <tr class="header-row">
                    <th class="text-center" width="25%" style="cursor: pointer" ng-click="sort('organizationName')">
                        Requesting Organization
                        <span ng-show="sortType == 'organizationName' && sortReverse" class="fa fa-lg fa-caret-down"></span>
                        <span ng-show="sortType == 'organizationName' && !sortReverse" class="fa fa-lg fa-caret-up"></span>
                    </th>
                    <th class="text-center">
                        Requested Item(s)
                    </th>              
                    <th class="text-center" width="12%">
                        Type
                    </th>
                    <th class="text-center" width="15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="pendingApproval in pendingApprovalList | filter: proccessedSearchFilter | itemsPerPage:pageSize" current-page="currentPage" ng-class="{'highlight-row': pendingApproval.quantityDemanded > pendingApproval.supply.quantitySupplied}">
                    <td ng-repeat="column in tableColumns" style="text-align:center; vertical-align: middle;">
                        <div>{{getObj(pendingApproval, column)}}</div>
                    </td>
                    <td style="text-align:center; vertical-align: middle;">
                        <div ng-repeat="demandItem in demandItemList" ng-show="demandItem.demand.id === pendingApproval.id">{{demandItem.quantityDemanded}} x {{demandItem.supply.itemName}} <b style="color: darkblue;">(Amount Left: {{demandItem.supply.quantitySupplied}})</b></div>
                    </td>
                    <td style="text-align:center; vertical-align: middle;">
                        <div ng-show="pendingApproval.preferredSchedule === 'NA'">Self Collection</div>
                        <div ng-show="pendingApproval.preferredSchedule !== 'NA'">Volunteer</div>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        <div>
                            <span class="action-item fa fa-eye fa-lg" ng-click="view(pendingApproval)" tooltip-placement="top" tooltip="View Details"></span>
                            <span class="action-item fa fa-edit fa-lg" ng-click="edit(pendingApproval.id)" tooltip-placement="top" tooltip="Edit Request"></span>
                            <span class="action-item fa fa-check fa-lg" ng-hide="pendingApproval.quantityDemanded > pendingApproval.supply.quantitySupplied" ng-click="approve(pendingApproval, $index)" tooltip-placement="top" tooltip="Approve"></span>
                            <span class="action-item fa fa-times fa-lg" ng-click="reject(pendingApproval, $index)" tooltip-placement="top" tooltip="Reject"></span>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!(pendingApprovalList | filter:proccessedSearchFilter).length">
                    <td colspan="{{tableColumns.length + 3}}" class="text-center">
                        <h5>No results found</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div style="text-align:center">
            <dir-pagination-controls template-url="Wheels4Food/webjars/angular-utils-pagination/0.7.0/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>