<div class="container">
    <div class="register-form">
        <form class="register-panel" ng-hide="selectionPanel">
            <div class="col-sm-12" style="font-size:40px; font-weight: bolder;">I am a ...</div>
            <div class="col-sm-6" style="padding-top: 10px;">
                <div class="register-vwo-panel" ng-click="showVWOForm()" ng-class="{'register-vwo-panel-selected': VWOSelected}" ng-mouseover="toggleVWO()" ng-mouseleave="toggleVWO()">
                    <i class="fa fa-home" style="font-size: 200px;" ng-mouseover="toggleVWO()" ng-mouseleave="toggleVWO()"></i>
                    <h1 style="font-weight: bolder; padding-top: 30px;" ng-mouseover="toggleVWO()" ng-mouseleave="toggleVWO()">Voluntary Welfare Organization</h1>
                </div>
            </div>
            <div class="col-sm-6" style="padding-top: 10px;">
                <div class="register-volunteer-panel" ng-click="showVolunteerForm()" ng-class="{'register-volunteer-panel-selected': volunteerSelected}" ng-mouseover="toggleVolunteer()" ng-mouseleave="toggleVolunteer()">
                    <i class="fa fa-child" style="font-size: 200px;" ng-mouseover="toggleVolunteer()" ng-mouseleave="toggleVolunteer()"></i>
                    <h1 style="font-weight: bolder; padding-top: 50px;" ng-mouseover="toggleVolunteer()" ng-mouseleave="toggleVolunteer()">Volunteer / Deliverer</h1>
                </div>
            </div>
        </form>

        <form method="post" class="register-panel-2" name="loginForm" ng-show="VWOForm">
            <div class="col-sm-12" style="font-size:40px; font-weight: bolder;">Register new account</div>
            <div class="col-sm-6">
                <div class="register-form-input">
                    <label>Username</label>
                    <input ng-model="registration.username" type="text" class="form-control register-form-input-height" placeholder="Username" name="username"/>                    
                </div>
                <div class="register-form-input">
                    <label>Password</label>
                    <input ng-model="registration.password" type="password" class="form-control register-form-input-height" placeholder="Password"/>
                </div>
                <div class="register-form-input">
                    <label>Confirm Password</label>
                    <input ng-model="registration.confirmPassword" type="password" class="form-control register-form-input-height" placeholder="Confirm Password"/>
                </div>
                <div class="register-form-input">
                    <label>Organization Name</label>
                    <input ng-model="registration.organizationName" type="text" class="form-control register-form-input-height" placeholder="Organization Name"/>
                </div>
                <div class="register-form-input">
                    <label>Email</label>
                    <input ng-model="registration.email" type="text" class="form-control register-form-input-height" placeholder="Email"/>
                </div>
            </div>
            <div class="col-sm-6">      
                <div class="register-form-input">
                    <label>Address</label>
                    <input ng-model="registration.address" type="text" class="form-control register-form-input-height" placeholder="Address"/>
                </div>
                <div class="register-form-input">
                    <label>Postal Code</label>
                    <input ng-model="registration.postalCode" type="text" class="form-control register-form-input-height" placeholder="Postal Code"/>
                </div>
                <div class="register-form-input">
                    <label>Point Of Contact Name</label>
                    <input ng-model="registration.pocName" type="text" class="form-control register-form-input-height" placeholder="Point Of Contact Name"/>
                </div>
                <div class="register-form-input">
                    <label>Point Of Contact Number</label>
                    <input ng-model="registration.pocNumber" type="text" class="form-control register-form-input-height" placeholder="Point Of Contact Number"/>
                </div>
                <div class="register-form-input">
                    <label>License Number</label>
                    <input ng-model="registration.licenseNumber" type="text" class="form-control register-form-input-height" placeholder="License Number"/>
                </div>                
            </div>
            <div class="col-sm-12">
                <div class="register-form-input">
                    <label>Role</label><br/>
                    <input type="radio" name="role" ng-model="registration.role" value="Supplier"/> Supplier<br/>
                    <input type="radio" name="role" ng-model="registration.role" value="Requester"/> Requester
                </div>
                <div class="register-form-input">
                    <label>Organization Description</label>
                    <textarea class="form-control" style="height: 100px; resize: none;" ng-model="registration.description" placeholder="Organization Description"></textarea>
                </div>
                <div class="col-sm-offset-11" style="padding-top: 20px;">
                    <button class="btn btn-primary" ng-click="submit()">Submit</button>
                </div>
            </div>
        </form>  
        <form method="post" class="register-panel-3" name="volunteerRegForm" ng-show="volunteerForm">
            <div class="col-sm-12" style="font-size:40px; font-weight: bolder;">Register new account</div>
            <div class="col-sm-6">
                <div class="register-form-input">
                    <label>Username</label>
                    <input ng-model="registration.username" type="text" class="form-control register-form-input-height" placeholder="Username" name="username"/>
                </div>
                <div class="register-form-input">
                    <label>Password</label>
                    <input ng-model="registration.password" type="password" class="form-control register-form-input-height" placeholder="Password"/>
                </div>
                <div class="register-form-input">
                    <label>Confirm Password</label>
                    <input ng-model="registration.confirmPassword" type="password" class="form-control register-form-input-height" placeholder="Confirm Password"/>
                </div>
                <div class="register-form-input">
                    <label>Organization Name</label>
                    <select ng-model="registration.organizationName" class="form-control register-form-input-height">
                        <option ng-repeat="VWO in VWOList">{{VWO.organizationName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6"> 
                <div class="register-form-input">
                    <label>Email</label>
                    <input ng-model="registration.email" type="text" class="form-control register-form-input-height" placeholder="Email"/>
                </div>     
                <div class="register-form-input">
                    <label>Full Name</label>
                    <input ng-model="registration.pocName" type="text" class="form-control register-form-input-height" placeholder="Full Name"/>
                </div>
                <div class="register-form-input">
                    <label>Mobile Number</label>
                    <input ng-model="registration.pocNumber" type="text" class="form-control register-form-input-height" placeholder="Mobile Number"/>
                </div>
                <div class="col-sm-offset-9 col-sm-2" style="padding-top: 37px;">
                    <button class="btn btn-primary" ng-click="submit()">Submit</button>
                </div>
            </div>
        </form>   
        <div class="registration-form-links">
            Back to <a href="#" ui-sref="Login">Login</a>
        </div>
    </div>
</div>