<div class="container">
    <div class="login-form">
        <form method="post" class="login-panel" name="resetPasswordForm">
            <div style="font-size:40px; font-weight: bolder;">Reset Password</div>

            <input type="text" ng-model="email" placeholder="Email" class="form-control input-lg" required/>

            <button ng-click="submit()" class="btn btn-lg btn-block btn-primary" ng-disabled="resetPasswordForm.$invalid">{{buttonText}} <i ng-show="isLogging" class="loader fa fa-lg fa-spinner fa-pulse" style="margin-left: 5px;"></i></button>
            <div ng-show="submitFailed" class="login-error">
                {{error}}
            </div>
        </form>
        <div class="form-links" style="color: white;">
            Back to <a href="#" ui-sref="Login">Login</a>
        </div>        
    </div>
</div>