<div class="container">
    <div class="page-header">
        <h1 style="color: #003366;">User Management</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 pull-left">
            <div class="input-group">
                <input type="text" ng-model="searchFilter" class="form-control" placeholder="Search..."/>
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>    
    </div>
    <div class="index-table" search-filter="searchFilter">
        <table style="table-layout: fixed;" class="table table-bordered table-hover" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <thead>
                <tr class="header-row">
                    <th class="text-center">Username</th>
                    <th class="text-center">Organization Name</th>
                    <th class="text-center" style="width: 13%">Role</th>
                    <th class="text-center" style="width: 13%">Demerit Points</th>
                    <th class="text-center" style="width: 10%">Status</th>
                    <th class="text-center" style="width: 15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="user in userList | filter: proccessedSearchFilter | itemsPerPage:pageSize" current-page="currentPage">
                    <td ng-repeat="column in tableColumns" style="text-align:center">
                        <div style="margin-top: 0.33em;">{{getObj(user, column)}}</div>
                    </td>
                    <td class="text-center">
                        <div style="margin-top:0.33em;">
                            <span class="action-item fa fa-eye fa-lg" ng-click="view(user)" tooltip-placement="top" tooltip="View"></span>
                            <span ng-hide="user.username === loggedInUsername || user.status !== 'Inactive'" class="action-item fa fa-plus-circle fa-lg" ng-click="activate(user)" tooltip-placement="top" tooltip="Activate"></span>
                            <span ng-hide="user.username === loggedInUsername || user.status !== 'Active'" class="action-item fa fa-minus-circle fa-lg" ng-click="suspend(user)" tooltip-placement="top" tooltip="Suspend"></span>
                            <span ng-hide="user.username === loggedInUsername" class="action-item fa fa-trash fa-lg" ng-click="delete(user, $index)" tooltip-placement="top" tooltip="Delete"></span>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!(userList | filter:proccessedSearchFilter).length">
                    <td colspan="{{tableColumns.length + 1}}" class="text-center">
                        <h5>No results found</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div style="text-align:center">
            <dir-pagination-controls template-url="Wheels4Food/webjars/angular-utils-pagination/0.7.0/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>